<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Report</title>
</head>
<body>
    <h1>{{ your_loc }} Assessment Report</h1>
    <h5>Created by Niti Goyal</h5>
    <h4>2024 Assessment: ${{ your_assessment:,.2f }}</h4>
    <h4>Year Built: {{ your_yr_blt }}</h4>
    <h4>Living Area (Sq. Feet): {{ your_living_area }}</h4>
    <h4>Building Style: {{ your_style }}</h4>
    <h4>Building Percent Good: {{ your_bpg }}%</h4>

    <p>{{ analysis_text }}</p>

    <h3>Boxplot</h3>
    {{ fig3|safe }}
    <p>{{ fig3text }}</p>

    <h3>Recent Sales</h3>
    {{ fig1|safe }}
    <p>{{ fig1text }}</p>

    <h3>All Properties</h3>
    {{ fig2|safe }}
    <p>{{ fig2text }}</p>
</body>
</html>
